<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
    <link rel="icon" type="image/svg+xml" href="/static/img/material/fact_check.svg">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Attestations faciles</title>
</head>

<body>
    <div id="box">
        <div id="header">
            <div id="headline">
                <h1>Attestations faciles</h1>
            </div>
            <div id="github">
                <a href="https://github.com/cglacet/attestations">
                    <svg height="16" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
                    <span>Source</span>
                </a>
            </div>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">live_help</i>À quoi ça sert ?</div>
                    <div class="collapsible-body">
                            <div class='explanations'>
                                <p>
                                    <h3>Honnêtement, pas à grand-chose</h3>
                                    Mais quelques gens partagent ma frustration. Perdre du temps pourquoi pas,
                                    mais le perdre à remplir la même information 60 fois, bof ... 
                                </p>
                                    
                                    <div class="dialogue">
                                        <p>— Quelle est votre date de naissance ?</p>
                                        <p>— hmmm ... la même que ce matin je présume.</p>
                                    </div>
                                    
                                <p>
                                    <h3>À ne pas remplir le formulaire officiel 60 fois</h3>
                                    Remplissez ce formulaire une seule fois et ajoutez cette page à vos 
                                    favoris<a href="https://support.google.com/chrome/answer/188842?hl=fr"><i class="material-icons" style="font-size: 1em;">help_outline</i></a>.
                                    Les prochaine fois, ouvrez simplement ce nouveau favoris pour 
                                    générer de nouvelles attestations horodatées.
                                </p>
                                
                                <p class='tips'>
                                    Si comme moi vous n'utilisez que deux motifs de sortie, vous pouvez même gagner 
                                    encore un clic en ajoutant directement dans vos favoris les deux générateurs (un par 
                                    motif de sortie).
                                </p>
                            </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">security</i>Vous volez nos données ?</div>
                    <div class="collapsible-body">
                        <div class="explanations">
                            <p>
                                <h3>Non</h3>
                                J'ai d'abord fait ce projet pour <a href="https://www.linkedin.com/in/cglacet/">moi</a>.
                                Je n'ai aucun intérêt dans vos données. 
                                Le serveur ne fait qu'une chose, <em>il récupère les informations que vous envoyez, rempli le PDF officiel 
                                et vous le renvoie</em> (le code source de ce serveur est d'ailleurs disponible sur
                                <a href="{{github-url}}">github</a>).
                            </p>
                            <p>
                                Les données sont stockées dans l'adresse (URL) de votre navigateur web puis dans votre favoris.
                                Cette adresse se modifie au fur et à mesure que vous 
                                remplissez le formulaire. C'est ainsi que vous conserverez vous-même les informations
                                permettant à la fois de re-remplir automatiquement ce formulaire mais aussi de 
                                générer directement vos attestations au format PDF.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">account_circle</i>Qui est derrière ce site ?</div>
                    <div class="collapsible-body">
                        <div class="explanations">
                            <h3>Christian Glacet</h3>

                            <p>
                                Vous pouvez me trouver sur <a href="https://www.linkedin.com/in/cglacet/">linkedin</a> par exemple.
                                Je parle d'ailleurs de cette page dans 
                                <a href="https://www.linkedin.com/posts/cglacet_attestations-faciles-activity-6728934673243758592-ueof">cette publication</a>. 
                                Pour le moment j'ai fait ça presque seul mais n'hésitez surtout pas à proposer des améliorations 
                                directement sur <a href="{{github-url}}">github</a> (merci déjà à tous ceux qui ont 
                                <a href="https://github.com/cglacet/attestations/issues?q=is%3Aissue">reporté des problèmes</a> et donc 
                                participé à l'amélioration de cette page).
                            </p>
                            <p>Retrouvez-moi également sur votre site préféré, en général sous le pseudonyme <strong>cglacet</strong> :</p>

                            <div id="social-div">
                                <a href="https://www.linkedin.com/in/christian-glacet-7a606bb2/" rel="nofollow"><img src="https://github.com/cglacet/Blog/raw/master/images/linkedin.ico" height="20" style="max-width:100%;"></a>
                                <a href="https://github.com/cglacet"><img src="https://github.com/cglacet/Blog/raw/master/images/github.ico" height="20" style="max-width:100%;"></a>
                                <a href="https://stackoverflow.com/users/1720199/cglacet" rel="nofollow"><img src="https://github.com/cglacet/Blog/raw/master/images/stackoverflow.ico" height="20" style="max-width:100%;"></a>
                                {{!-- <a href="https://dblp.uni-trier.de/pers/hd/g/Glacet:Christian" rel="nofollow"><img src="https://github.com/cglacet/Blog/raw/master/images/dblp.ico" height="20" style="max-width:100%;"></a> --}}
                                <a href="https://scholar.google.fr/citations?user=hRsspqQAAAAJ&amp;hl=fr&amp;oi=ao" rel="nofollow"><img src="https://github.com/cglacet/Blog/raw/master/images/scholar.ico" height="20" style="max-width:100%;"></a>
                                <a href="https://www.researchgate.net/profile/Christian_Glacet" rel="nofollow"><img src="https://github.com/cglacet/Blog/raw/master/images/research_gate.png" height="20" style="max-width:100%;"></a>
                                <a href="https://pypi.org/user/cglacet/" rel="nofollow"><img src="https://github.com/cglacet/Blog/raw/master/images/pypi.ico" height="20" style="max-width:100%;"></a>
                                <a href="https://exercism.io/profiles/cglacet" rel="nofollow"><img src="https://github.com/cglacet/Blog/raw/master/images/exercism.io.png" height="20" style="max-width:100%;"></a>
                                <a href="https://repl.it/@ChristianGlacet" rel="nofollow"><img src="https://github.com/cglacet/Blog/raw/master/images/repl.it.ico" height="20" style="max-width:100%;"></a>
                                {{!-- <a href="https://expo.io/snacks/@cglacet" rel="nofollow"><img src="https://github.com/cglacet/Blog/raw/master/images/expo.ico" height="20" style="max-width:100%;"></a> --}}
                                <a href="https://www.instagram.com/cglacet/" rel="nofollow"><img src="https://github.com/cglacet/Blog/raw/master/images/instagram.ico" height="20" style="max-width:100%;"></a>
                                <a href="https://500px.com/cglacet" rel="nofollow"><img src="https://github.com/cglacet/Blog/raw/master/images/500px.ico" height="20" style="max-width:100%;"></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="box-content">
            <div id="form-part">
                <form onSubmit="formSubmit(event); return true;" id="form">
                    <div id="inputs">
                        <label for="firstname">Prénom</label>
                        <input required type="text" id="firstname" name="firstname" placeholder="Prénom" value="{{profile.firstname}}" autocomplete="given-name">
                        
                        <label for="lastname">Nom</label>
                        <input required type="text" id="lastname" name="lastname" placeholder="Nom" value="{{profile.lastname}}" autocomplete="family-name">
                        
                        {{!-- <label for="birthdayEN">Date de naissance</label>
                        <input required id="birthdayEN" name="birthdayEN" lang="fr" placeholder="31/12/2000" min="12-31-1900" max="12-31-2021" type="date" date-format="dd/mm/yyyy" value="{{profile.birthdayEN}}" autocomplete="bday" pattern="^([0][1-9]|[1-2][0-9]|30|31)/([0][1-9]|10|11|12)/(19[0-9][0-9]|20[0-1][0-9]|2020)"> --}}

                        <label for="birthday">Date de naissance</label>
                        <input id="birthday" placeholder="31/12/2000" value="{{profile.birthday}}" inputmode="numeric">

                        <label for="placeofbirth">Lieu de naissance</label>
                        <input required id="placeofbirth" name="placeofbirth" placeholder="Paris" type="text" value="{{profile.placeofbirth}}" autocomplete="off">

                        <label for="address">Adresse</label>
                        <input required id="address" name="address" placeholder="12 rue des Lilas" type="text" value="{{profile.address}}" autocomplete="street-address">

                        <label for="zipcode">Code postal</label>
                        <input required id="zipcode" name="zipcode" placeholder="33000" type="text" value="{{profile.zipcode}}" autocomplete="postal-code">

                        <label for="city">Ville</label>
                        <input required id="city" name="city" placeholder="Bordeaux" type="text" value="{{profile.city}}" autocomplete="off">

                        
                        <label for="reasons" class="reasons">
                            Motif de la sortie 
                            <i
                                class="reasons tooltipped material-icons" 
                                data-position="right"
                                data-tooltip='<p>Je certifie que mon déplacement est lié au motif suivant (cocher la case) autorisé par le décret n°2020-1310 du 29 octobre 2020 prescrivant les mesures générales nécessaires pour faire face à l&apos;épidémie de Covid19 dans le cadre de l&apos;état d&apos;urgence sanitaire <a class="footnote" href="#footnote1">[1]</a>.</p> <p>Sélection multiple avec la touche Ctrl (contrôle) du clavier ou ⌘ (command) sur mac.</p>'
                                style='font-size: 1em'
                            >help_outline</i>
                        </label>
                        <select required name="reasons" id="reasons" size={{available_reasons.length}}>
                            {{#each available_reasons}}
                                <option 
                                    class="tooltipped"
                                    data-position="right"
                                    data-tooltip='<i class="material-icons reason-tooltip">{{this.icon}}</i><h3>{{this.code}}</h3>{{this.label}}'
                                    value="{{this.code}}"
                                    {{#ifIn this.code ../profile.reasons}}
                                        selected
                                    {{/ifIn}}
                                >
                                    {{this.code}}
                                    {{!-- this.label --}}
                                </option> 
                            {{/each}}
                        </select>
                    </div>
                </form>
                <h2>Votre générateur d'attestations</h2>
                <p id="url-container">
                    Lorsque vous avez fini de remplir le formulaire, il ne vous reste plus qu'à ajouter cette page à vos 
                    favoris. Vous pouvez ensuite accéder à vos attestations en cliquant simplement sur ce lien à chaque 
                    nouvelle visite :

                    <a class="url-get button disable-incomplete disabled"><i class="material-icons">picture_as_pdf</i> générateur d'attestations</a>

                    <span
                        class="tooltipped"
                        data-position="right"
                        data-tooltip="Le terme <em>générateur d'attestation</em> est utilisé car ce lien ne pointe pas directement vers 
                            une attestation de sortie. Il en génère une nouvelle à chaque clic. Chaque attestation est 
                            ainsi générée avec heure et date actuelles automatiquement remplies."
                    >
                        Vous pouvez également ajouter directement ce générateur<b>*</b> à vos favoris. 
                        Pour cela il vous faudra 
                            <b>1)</b> cliquer sur ce premier lien, 
                            <b>2)</b> ajouter la page sur laquelle vous arrivez à vos favoris.
                    </span>
                    
                    Si cela vous arrange vous pouvez aussi copier ce lien en cliquant simplement sur 
                    ce bouton :
                    <button id="url-clipboard" class="btn disable-incomplete disabled" data-clipboard-text="">
                        <i class="material-icons">content_copy</i>
                        Copier l'adresse
                    </button>
                </p>
            </div>
            <div id="qrcodes-container">
                <h2>QR-Codes <span class="visible-on-print-only"> pour <span id="qrcode-owner" class="owner-name "></span></span></h2>
                <span class="hidden-on-print">
                    Si vous préférez le papier que les favoris de votre navigateur.
                    Ou simplement vous trouvez le gadget marrant. Vous pouvez 
                    <a href="javascript:window.print();" id="print-link" class="disable-incomplete disabled">imprimer cette page</a> 
                    et conserver une version papier vous permettant de générer automatiquement de nouvelles attestations. 
                </span>
                <div id="qrcodes-list">
                    <div class="qrcode-div">
                        <h3>Générer une attestation</h3>
                        <p>En scannant ce QR code vous générez une nouvelle attestation horodatée pour le motif <span id="reasons-list"></span></p>
                        <a class="url-get disable-incomplete disabled">
                            <canvas id="qrcode-get"></canvas>
                        </a>
                    </div>
                    <div class="qrcode-div visible-on-print-only" id="bonus-achats">
                        <h3>Motif <span id="reasons-list">Achats</span> uniquement</h3>
                        <p>En scannant ce QR code vous générez une nouvelle attestation horodatée pour le motif <span id="reasons-list">achats</span></p>
                        <canvas id="qrcode-get-achats"></canvas>
                    </div>
                    <div class="qrcode-div visible-on-print-only" id="bonus-travail">
                        <h3>Motif <span id="reasons-list">Travail</span> uniquement</h3>
                        <p>En scannant ce QR code vous générez une nouvelle attestation horodatée pour le motif <span id="reasons-list">travail</span></p>
                        <canvas id="qrcode-get-travail"></canvas>
                    </div>
                    <div class="qrcode-div">
                        <h3>Modifier mes options</h3>
                        <p>En scannant ce QR code vous pourrez modifier vos données ou choisir des motifs de sortie différents.</p>
                        <a class="url-set">
                            <canvas id="qrcode-set"></canvas>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p id="footnotes"> <span id="footnote1"> [1] Les personnes souhaitant bénéficier de l'une de ces exceptions doivent se munir s'il y a lieu, lors de leurs déplacements hors de leur domicile, d'un document leur permettant de justifier que le déplacement considéré entre dans le champ de l'une de ces exceptions. </span><br> <span id="footnote2"> [2] A utiliser par les travailleurs non salariés, lorsqu'ils ne peuvent disposer d'un justificatif de déplacement établi par leur employeur. </span><br> <span id="footnote3"> [3] Y compris les acquisitions à titre gratuit (distribution de denrées alimentaires...) et les déplacements liés à la perception de prestations sociales et au retrait d'espèces. </span><br> </p>
</body>

<script src="../static/js/qrcode/qrcode.min.js"></script>
<script type="text/javascript">
    const BASE_URL = window.location.origin;
    const form = document.getElementById("form");
    const MESSAGE_INCOMPLETE = "Vous n'avez pas fini de remplir le formulaire";
    const QR_CODE_OPTIONS = {
        color: {
            dark: getComputedStyle(document.documentElement).getPropertyValue('--qr-code-dark-color').trim(),
            light: getComputedStyle(document.documentElement).getPropertyValue('--qr-code-light-color').trim()
        }
    }
    const QR_CODE_OPTIONS_ERROR = {
        color: {
            dark:"#CCC",
            light: getComputedStyle(document.documentElement).getPropertyValue('--qr-code-light-color').trim()
        }
    }

    // Make sure to update on first render, it's needed
    // when someone with a completed form URL comes in:
    onFormChange();

    form.addEventListener("input", onFormChange);
    document.addEventListener('DOMContentLoaded', initializeInteractiveElements());

    function buildURL(endpoint){
        const params = buildParams();
        const paramString = new URLSearchParams(params);
        return `${BASE_URL}/${endpoint}?${paramString.toString()}`;
    }

    function buildURLGet(){
        // This way we avoid creating incomplete forms 
        // (always redirect to the creation page if any information is missing)
        return isFormCompleted() ? buildURL('get') : buildURL('set');
    }
    
    function buildParams(){
        return {
            'firstname': value('firstname'),
            'lastname': value('lastname'),
            {{!-- 'birthday': toFrenchDate(value('birthdayEN')), --}}
            'birthday': value('birthday'),
            'placeofbirth': value('placeofbirth'),
            'address': value('address'),
            'zipcode': value('zipcode'),
            'city': value('city'),
            'reasons': getSelectValues(document.getElementById('reasons')),
        };
    }

    function onFormChange(){
        const urlGet = buildURLGet();
        const urlSet = buildURL('set');
        setElementsURLs("url-get", urlGet);
        setElementsURLs("url-set", urlSet);
        setClipboardURL(urlGet);
        setQRCode('qrcode-get', urlGet);
        setQRCode('qrcode-set', urlSet);
        setNavigatorURL(urlSet);
        updateReasons();
        updateOwnerName();
        disableOnIncomplete();
        generateBonusQRCodes('achats');
        generateBonusQRCodes('travail');
    }

    function setElementsURLs(className, url){
        for (const element of document.getElementsByClassName(className)){
            element.setAttribute('href', url);
        }
    }

    function setClipboardURL(url){
        document.getElementById('url-clipboard').setAttribute('data-clipboard-text', url);
    }

    function setQRCode(elementID, url){
        QRCode.toCanvas(document.getElementById(elementID), url, QRCodeOptions());
    }

    function QRCodeOptions(){
        return isFormCompleted() ? QR_CODE_OPTIONS : QR_CODE_OPTIONS_ERROR
    }

    function setNavigatorURL(url){
        if (window.history.replaceState) {
            window.history.replaceState(`${BASE_URL}/set`, document.title, url);
        }
    }

    function updateOwnerName(){
        document.getElementById('qrcode-owner').innerHTML = `${value('firstname')} ${value('lastname')}`;
    }

    function updateReasons(){
        const reasons = getSelectValues(document.getElementById('reasons'));
        if (reasons && reasons.length > 0){
            document.getElementById('reasons-list').innerHTML = reasons.join(', ');
        }
        else {
            document.getElementById('reasons-list').innerHTML = "Aucun motif !"
        }
    }

    function generateBonusQRCodes(bonusReason){
        const selectedReasons = getSelectValues(document.getElementById('reasons'));
        if (selectedReasons.length > 1 || !selectedReasons.includes(bonusReason)){
            document.getElementById(`bonus-${bonusReason}`).style.display = "";
            const bonusURL = buildURLForReasons('get', [bonusReason]);
            setQRCode(`qrcode-get-${bonusReason}`, bonusURL)
        }
        else {
            document.getElementById(`bonus-${bonusReason}`).style.display = "none";
        }
    }

    function buildURLForReasons(endpoint, reasons){
        const params = buildParams();
        params.reasons = reasons;
        const paramString = new URLSearchParams(params);
        return `${BASE_URL}/${endpoint}?${paramString.toString()}`;
    }
    
    function disableOnIncomplete(){
        if (isFormCompleted()){
            enableRegisteredInputs();
        }
        else {
            disableRegisteredInputs();
        }
    }

    function enableRegisteredInputs(){
        for (const element of document.getElementsByClassName('disable-incomplete')){
            element.classList.remove('disabled');
        }
    }

    function disableRegisteredInputs(){
        for (const element of document.getElementsByClassName('disable-incomplete')){
            element.classList.add('disabled');
        }
    }

    function isFormCompleted() {
        const form = document.getElementById('form');
        for(const element of form.elements){
            if(element.hasAttribute('required') && element.value == ''){
                return false;
            }
        }
        return true;
    };

    function value(id){
        return document.getElementById(id).value;
    }

    function getSelectValues(select) {
        const result = [];
        const options = select && select.options;
        let opt;
        for (var i=0, iLen=options.length; i<iLen; i++) {
            opt = options[i];

            if (opt.selected) {
                result.push(opt.value || opt.text);
            }
        }
        return result;
    }

    function toFrenchDate(yyyy_mm_dd){
        const [yyyy, mm, dd] = yyyy_mm_dd.split('-');
        if (dd == undefined || mm == undefined || yyyy == undefined) {
            return "";
        }
        return `${dd}/${mm}/${yyyy}`;
    }

    function initializeInteractiveElements(){
        // https://nosir.github.io/cleave.js/
        const options = {
            date: true,
            datePattern: ['d', 'm', 'Y'],
            dateMin: "1880-01-01",
            dateMax: "2022-01-01",
        };
        new Cleave('#birthday', options);

        // Materialize at https://materializecss.com/collapsible.html
        const collapsibleElements = document.querySelectorAll('.collapsible');
        M.Collapsible.init(collapsibleElements, {});
        const tooltipElements = document.querySelectorAll('.tooltipped');
        M.Tooltip.init(tooltipElements, {enterDelay: 500, margin: 20});

        // https://clipboardjs.com/
        new ClipboardJS('.btn');
    }
    {{!-- https://geo.api.gouv.fr/communes?nom=Talen&fields=nom,code,codesPostaux&format=json&geometry=centre --}}
</script>

</html>